@use 'sass:color';
@use 'sass:string';

%button-border {    
    border-radius: 5px;
    border: 1px solid darkgrey;
    padding: 10px;
}

%hover-default {
    cursor: pointer;
}

@mixin buttonColors($list) {
    @each $key, $value in $list {
        button.#{$key} {
            @if $key == 'yellow' {
                color: black;
            } @else {
                color: white;
            }            
            background-color: $value;
            @extend %button-border;            
        }
    }
}

@mixin buttonHovers($list) {
    @each $key, $value in $list {
        button.#{$key}:hover {
            background-color: $value;
            @extend %hover-default;
        }
    }
}

@mixin createOptionColors($list) {
    @each $value in $list {
        .item-color#{'-' + $value} {  
            $quoted: "'" + $value + "'";

            @if(string.index($quoted, 'grey') != null) {
                color: #fff;
            } @else if (string.index($quoted, 'gray') != null) {
                color: #fff;
            } @else {
                color: color.invert(rgba($value, 1), 100%);
            }
            
            background-color: $value;
        }
    }
}

body {
    background-image: linear-gradient(to bottom, cornflowerblue, lightblue, white);
    min-height: 100vh;
    height: auto;
}

select {
    width: inherit;
    height: 35px;
}

option {
    width: inherit;
    height: 25px;
}

.select-file-label {
    color: white;
    background-color: blue;
    @extend %button-border;
}

.select-file-label:hover {
    background-color: navy;
    @extend %hover-default;
}

input.select-file-input {
    visibility: hidden;
}

.preview-image {
    max-width: 250px;
    height: auto;
}

button#remove-button {
    color: white;
    background-color: darkred;
    @extend %button-border;
}

button#remove-button:hover {
    background-color: firebrick;
    @extend %hover-default;
}

.background-test {
    width: 250px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

$buttonMap: ('green': green, 'yellow': yellow, 'blue': blue, 'pink': pink, 'purple': purple);
$buttonHoverMap: ('green': limegreen, 'yellow': gold, 'blue': navy, 'pink': coral, 'purple': violet);
@include buttonColors($buttonMap);
@include buttonHovers($buttonHoverMap);

$predefinedColors: (aliceblue,antiquewhite,aqua,aquamarine,azure,beige,bisque,black,blanchedalmond,blue,blueviolet,brown,burlywood,cadetblue,chartreuse,chocolate,coral,cornflowerblue,cornsilk,crimson,cyan,darkblue,darkcyan,darkgoldenrod,darkgray,darkgrey,darkgreen,darkkhaki,darkmagenta,darkolivegreen,darkorange,darkorchid,darkred,darksalmon,darkseagreen,darkslateblue,darkslategray,darkslategrey,darkturquoise,darkviolet,deeppink,deepskyblue,dimgray,dimgrey,dodgerblue,firebrick,floralwhite,forestgreen,fuchsia,gainsboro,ghostwhite,gold,goldenrod,gray,grey,green,greenyellow,honeydew,hotpink,indianred,indigo,ivory,khaki,lavender,lavenderblush,lawngreen,lemonchiffon,lightblue,lightcoral,lightcyan,lightgoldenrodyellow,lightgray,lightgrey,lightgreen,lightpink,lightsalmon,lightseagreen,lightskyblue,lightslategray,lightslategrey,lightsteelblue,lightyellow,lime,limegreen,linen,magenta,maroon,mediumaquamarine,mediumblue,mediumorchid,mediumpurple,mediumseagreen,mediumslateblue,mediumspringgreen,mediumturquoise,mediumvioletred,midnightblue,mintcream,mistyrose,moccasin,navajowhite,navy,oldlace,olive,olivedrab,orange,orangered,orchid,palegoldenrod,palegreen,paleturquoise,palevioletred,papayawhip,peachpuff,peru,pink,plum,powderblue,purple,rebeccapurple,red,rosybrown,royalblue,saddlebrown,salmon,sandybrown,seagreen,seashell,sienna,silver,skyblue,slateblue,slategray,slategrey,snow,springgreen,steelblue,tan,teal,thistle,tomato,turquoise,violet,wheat,white,whitesmoke,yellow,yellowgreen);
@include createOptionColors($predefinedColors);

.default-select-color {
    color: #000;
    background-color: #fff;
}

button.ok {
    color: #fff;
    background-color: limegreen;
    @extend %button-border;
}

button.ok:hover {
    background-color: darkgreen;
    @extend %hover-default;
}

button.cancel {
    color: #fff;
    background-color: darkred;
    @extend %button-border;
}

button.cancel:hover {
    background-color: firebrick;
    @extend %hover-default;
}

button.return {
    color: #fff;
    background-color: darkgrey;
    @extend %button-border;
}

button.return:hover {
    background-color: lightgrey;
    @extend %hover-default;
}

.invalid-date {
    border: 2px solid red;
}

.valid-date {
    border: 2px solid green;
}

input#dateField {
    font-size: 16px;
}

// Calendar
.calendar {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 300px;
}

.calendar-header {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calendar-button {
    background-color: deepskyblue;
    color: #fff;
}

.calendar-button:hover {
    background-color: lightblue;
    color: #000;
    cursor: pointer;
}

.calendar-current-month {
    font-weight: bold;
    margin-right: 8px;
}

.calendar-days {
    table {
        tr {
            td {
                width: 40px;
                color: #000;
                text-align: center;
            }

            td.today {
                background-color: deepskyblue;
                color: #fff;
                font-weight: bold;
                border-radius: 50%;
            }

            td.today:hover {
                background-color: lightblue;
                color: #000;
                font-weight: bold;
                border-radius: 50%;
                @extend %hover-default;
            }

            td.day:hover {
                background-color: deepskyblue;
                color: #fff;
                font-weight: bold;                    
                border-radius: 50%;
                @extend %hover-default;
            }
        }
    }
}

//Sorting
ul.numbers-demo li {
    list-style: none;
}

ul.names-demo li {
    list-style: none;
}

button.sorting-asc, button.sorting-desc {
    background-color: deepskyblue;
    color: whitesmoke;
    padding: 2px;
    border-radius: 5px;
    border: none;
}

button.sorting-asc:hover {
    background-color: darkblue;
    cursor: pointer;
}

button.sorting-desc:hover {
    background-color: darkblue;
    cursor: pointer;
}

button.sorting-reset {
    background-color: lightcoral;
    color: whitesmoke;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

button.sorting-reset:hover {
    background-color: coral;
    cursor: pointer;
}